@use "../abstracts/base" as *;
@use "../abstracts/colours" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/icons" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

footer {
    @include flexcolumn;
    gap: 1rem;
    padding-bottom: $paddinglg;

    .contactslinks {
        @include flexcolumn;
        gap: 5rem;
        
        article {
            @include flexcolumn;
            gap: 2rem;
            
            h4 { color: var(--BRANDIII); font-size: $font-sizexl; }
        
            .contacts {
                @include flexcolumn;
                gap: 1.5rem;

                p { display: flex; gap: 1rem; }

            }

            .social {
                @include flexrow;

                a { transition: transform 0.4s ease-in-out; }
                a:hover { transform: scale(1.5); }

                .github { color: var(--GITHUB); }
                .linkedin { color: var(--LINKEDIN); }
                .whatsapp { color: var(--WHATSAPP); }
                .twitter { color: var(--BRANDII); }
                .instagram { color: var(--INSTAGRAM); }
                .facebook { color: var(--FACEBOOK); }

            }

            .quicklinks {
                @include flexcolumn; gap: 1.5rem;

                a { color: var(--BRANDII); transition: all ease-in-out 0.4s; }
                a:hover { color: var(--TEXTI); }

            }

        }

    }

    .copyrightsdesigner {
        @include flexcolumn;
        gap: 4rem;
        
        .designer {
            @include flexrow;
            justify-content: center;
            gap: 0.5rem;
            font-weight: bold;
        }
    
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    footer { .contactslinks, .copyrightsdesigner { @include flexrow; flex-direction: row; align-items: flex-start; } }
}