@use "../abstracts/base" as *;
@use "../abstracts/colours" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/icons" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

header {
  @include flexcolumn;
  justify-content: space-around;
  gap: 1rem;
  background: var(--BRANDI);
  position: fixed;
  padding: 0rem $paddingxl;
  left: -100%;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.4s;
  z-index: 2;
  border-right: 0.1rem solid color-mix(in srgb, var(--BRANDIII), transparent 80%);

  a { color: var(--BRANDII); }
  
  .burger {
    @include flexcolumn;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    background: transparent;
    cursor: pointer;
    border-radius: $border-circle;
    height: 3rem;
    width: 3rem;
    transition: all 2s;
    border: $border-radiusxxs groove var(--BRANDII);
  
    .linei, .lineii, .lineiii {
      height: 0.2rem;
      width: 2rem;
      background: var(--BRANDII);
      border-radius: $border-radiuslg;
      transition: all .4s;
    }
    
    .lineei { transform: rotate(-405deg) translate(-0.43rem, 0.43rem); background: var(--BRANDIII); }
    .lineeii { opacity: 0; }
    .lineeiii { transform: rotate(405deg) translate(-0.43rem, -0.43rem); background: var(--BRANDIII); }

  }

  .burgeri { border: $border-radiusxxs groove var(--BRANDIII); }

  .imgsocialmedia {
    @include flexcolumn;
    gap: 0.5rem;
    margin-top: $marginxxlii;
    
    .img figure {
      @include flexcolumn;
      align-items: center;
      justify-content: center;
      
      img {border: 0.01rem solid var(--BRANDIII); border-radius: $border-radiuslg; }

      a {
        color: var(--BRANDII);
        transition: all ease-in-out 0.4s;

        h2 { font-size: $font-sizelg; }

      }
      a:hover { color: var(--TEXTI); }

    }

    .socialmedia {
      @include flexrow;
      gap: 1rem;
      
      a {
        @include flexrow;
        justify-content: center;
        transition: all ease-in-out 0.4s;
        width: 2.2rem;
        height: 2.2rem;
      }
      
      a:hover { background: var(--BRANDIII); color: var(--BRANDI); border-radius: $border-circle; }
  
    }
  
  }

}

.shownav { left: 0; width: 100%; }

//! Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  header {
    left: 0;
    
    .burger { display: none; }

    .imgsocialmedia .socialmedia {
      @include flexrow;
      gap: 0.5rem;
      
      a { width: 2.2rem; height: 2.2rem; }
    
    }
  
  }
  
  .shownav { width: auto; }

}