@font-face {
  font-display: swap;
  font-family: "Gupter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/gupter-v14-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Gabriela";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/gabriela-v23-latin-regular.woff2") format("woff2");
}