@use "../abstracts/base" as *;
@use "../abstracts/colours" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/icons" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

#about {
    @include flexcolumn;
    gap: 2rem;

    article {
        @include flexcolumn;
        gap: 2rem;
        margin: 2.5rem 0rem;
        
        .check {
            @include flexcolumn;
            gap: 4rem;
            
            .checks {
                @include flexcolumn;
                gap: 1rem;
                
                div {
                    @include flexrow;
                    justify-content: flex-start;
                    gap: 0.2rem;
                    
                    span { font-size: $font-sizelg; color: var(--BRANDIII); }
                }

            }

        }
        
        .skillstitle { margin: auto; font-size: $font-sizexxl; border-bottom: 0.1rem solid var(--BRANDIII); }

        .skills {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-content: space-between;
            gap: 2.5rem;

            p { font-size: $font-sizexl; }

            .html { color: var(--HTML); }
            .css { color: var(--CSS); }
            .tailwindcss { color: var(--TAILWIND); }
            .javascript { color: var(--JAVASCRIPT); }
            .nodejs { color: var(--NODEJS); }
            .mongodb { color: var(--MONGODB); }
            .sass { color: var(--SASS); }
            .bootstrap { color: var(--BOOTSTRAP); }
            .materialize { color: var(--MATERIALIZE); }
        }

    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #about article .check {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }

}