@use "../abstracts/base" as *;
@use "../abstracts/colours" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/icons" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

#projects {
    @include flexcolumn;
    gap: 2rem;
    background: var(--BRANDII);
    color: var(--BRANDI);

    article div {
        @include flexcolumn;
        gap: 0.5rem;
        padding-bottom: $paddingxxli;
        
        p, a { color: var(--LINKS); }
        a:hover { color: var(--SUCCESS); text-decoration: underline; }
    
    }

}