@use "./components/footer";
@use "./components/header";
@use "./components/nav";

@use "./sections/about";
@use "./sections/contact";
@use "./sections/feedback";
@use "./sections/hero";
@use "./sections/projects";